src/static/tmp/img_align_celeba
src/static/tmp/current
src/static/models/model_780.pth
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
*.log
AlgoGenDev.ipynb
Autoencoder.ipynb
