<!DOCTYPE html>
<html>
<head>
    <title>Face2Surrender - Sélection des visages </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/criminel.css" type="text/css">
</head>
<body>
    <div >
        <img src="../static/logo3.jpg" alt="Logo" style="height: 50px;">
        <span>Face2Surrender</span>
    </div>
    <h1>Sélectionnez les profils ressemblants</h1>
    <form id="imageSelectionForm">
      <div class="grid-container">
        {% for image in imgtmp %}
            <div class="grid-item" onclick="toggleSelection(this)">
                <img src="{{url_for('static', filename=image.src)}}" alt="{{image}}">
                <input type="hidden" name="selected_images[]" value="{{ image.src }}">
            </div>
        {% endfor %}
      </div>
      <div class="bouton_container"
        <button type="button" class="bouton_selection" onclick="submitSelectedImages()">Sélectionner les visages qui correspondent le mieux </button>
        <button type="button" class="bouton_identification" onclick="identificationCriminel()">C'est lui !!</button>
      </div>
    </form>

    <script>
    function toggleSelection(element) {
        element.classList.toggle('selected');
    }

    function submitSelectedImages() {
        const selectedImages = document.querySelectorAll('.grid-item.selected img');
        const selectedImageNames = Array.from(selectedImages).map(img => img.alt);
        console.log(selectedImageNames); // Affiche les noms des images sélectionnées dans la console du navigateur
        // Envoyer une requête AJAX pour envoyer les noms des images sélectionnées au serveur Flask
        fetch('/criminel', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selected_images: selectedImageNames }),
        })
        .then(response => {
            if (response.ok) {
                console.log('Images sélectionnées envoyées avec succès.');
                // Rafraîchir la page après avoir terminé le traitement
                window.location.reload();
            } else {
                console.error('Erreur lors de l\'envoi des images sélectionnées.');
            }
        })
        .catch(error => console.error('Erreur lors de l\'envoi des images sélectionnées :', error));
    }

    function identificationCriminel() {
        const selectedImageSrc = document.querySelector('.grid-item.selected img').getAttribute('src');
        console.log(selectedImageSrc); // Affiche l'URL de l'image sélectionnée dans la console du navigateur
        // Rediriger vers la page de résultat avec l'URL de l'image sélectionnée
        window.location.href = '/resultat?selected_image=' + encodeURIComponent(selectedImageSrc);
    }


    </script>

</body>
</html>
