<!DOCTYPE html>
<html>
<head>
    <title>Face2Surrender - Sélection des visages </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/criminel.css" type="text/css">
</head>
<body>
    <div >
        <img src="../static/logo3.jpg" alt="Logo" style="height: 50px;">
        <span>Face2Surrender</span>
    </div>
    <h1>Sélectionnez les profils ressemblants</h1>
    <form id="imageSelectionForm">
      <div class="grid-container">
        {% for image in imgtmp %}
            <div class="grid-item" onclick="toggleSelection(this)">
                {% if dossier_image in image %}
                    <img src="{{ url_for('static', filename=image) }}" alt="{{ image }}">
                {% else %}
                    <img src="{{ url_for('static', filename=dossier_image + '/' + image) }}" alt="{{ image }}">
                {% endif %}
                <input type="hidden" name="selected_images[]" value="{{ image.src }}">
            </div>
        {% endfor %}
      </div>
      <div class="bouton_container">
        <button type="button" class="bouton_selection" onclick="submitSelectedImages()">Sélectionner les visages qui correspondent le mieux </button>
        <button type="button" class="bouton_identification" onclick="identificationCriminel()">C'est lui !!</button>
      </div>
    </form>

    <script>
    function toggleSelection(element) {
        element.classList.toggle('selected');
    }

    function submitSelectedImages() {
        const selectedImages = document.querySelectorAll('.grid-item.selected img');
        const selectedImageNames = Array.from(selectedImages).map(img => img.alt);
        const submitButton = document.querySelector('#submit-button'); // Replace '#submit-button' with the correct selector for your button
        console.log(selectedImageNames); // Display the names of the selected images in the browser console

        // Send an AJAX request to send the names of the selected images to the Flask server
        fetch('/criminel', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selected_images: selectedImageNames }),
        })
        .then(response => {
            if (response.ok) {
                console.log('Selected images sent successfully.');
                return response.text(); // Get the response text
            } else {
                console.error('Error sending selected images.');
            }
        })
        .then(responseText => {
            console.log('Response content:', responseText); // Display the response content in the console
            document.body.innerHTML = responseText; // Replace the page content with the new HTML
        })
        .catch(error => console.error('Error sending selected images:', error));
    }
    function identificationCriminel() {
        const selectedImageSrc = document.querySelector('.grid-item.selected img').getAttribute('src');
        console.log(selectedImageSrc); // Affiche l'URL de l'image sélectionnée dans la console du navigateur
        // Rediriger vers la page de résultat avec l'URL de l'image sélectionnée
        window.location.href = '/resultat?selected_image=' + encodeURIComponent(selectedImageSrc);
    }


    </script>

</body>
</html>
