<!DOCTYPE html>
<html>
<head>
    <title>Face2Surrender - Accueil</title>
    <link rel="stylesheet" href="../static/home.css" type="text/css">
    <script>
        function submitForm(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const data = {};
            for (let [key, value] of formData.entries()) {
                if (!data[key]) {
                    data[key] = [];
                }
                data[key].push(value);
            }
            fetch("{{ url_for('criminel') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Erreur lors de l\'envoi du formulaire');
                }
            }).then(data => {
                document.body.innerHTML = data;
            }).catch(error => {
                console.error(error);
            });
        }
    </script>
</head>
<body>
    <div class="header">
        <img src="../static/logo3.jpg" alt="Logo">
        <span>Face2Surrender</span>
    </div>
    <h1>Bienvenue dans Face2Surrender, votre logiciel de reconnaissance des criminels !</h1>
    <h2>Selectionner les attributs correspondants à votre criminel</h2>
    <form action="{{ url_for('criminel') }}" method="post">
        <div class="attributes">
            <div class="column">
                <input type="checkbox" name="attributes" value="Male">Homme<br>
                <input type="checkbox" name="attributes" value="Young">Jeune<br>
                <input type="checkbox" name="attributes" value="Chubby">Potelé<br>
                <input type="checkbox" name="attributes" value="Oval_Face">Visage ovale<br>
                <input type="checkbox" name="attributes" value="Gray_Hair">Cheveux gris<br>
                <input type="checkbox" name="attributes" value="Black_Hair">Cheveux noirs<br>
                <input type="checkbox" name="attributes" value="Blond_Hair">Cheveux blonds<br>
                <input type="checkbox" name="attributes" value="Brown_Hair">Cheveux bruns<br>
                <input type="checkbox" name="attributes" value="Wavy_Hair">Cheveux ondulés<br>
                <input type="checkbox" name="attributes" value="Straight_Hair">Cheveux raides<br>
                <input type="checkbox" name="attributes" value="Bald">Chauve<br>
                <input type="checkbox" name="attributes" value="Receding_Hairline">Calvitie naissante<br>
                <input type="checkbox" name="attributes" value="Bangs">Frange<br>
                <input type="checkbox" name="attributes" value="Pale_Skin">Peau pâle<br>
                <input type="checkbox" name="attributes" value="Heavy_Makeup">Maquillage prononcé<br>
            </div>
            <div class="column">
                <input type="checkbox" name="attributes" value="Eyeglasses">Lunettes<br>
                <input type="checkbox" name="attributes" value="Narrow_Eyes">Yeux étroits<br>
                <input type="checkbox" name="attributes" value="Arched_Eyebrows">Sourcils arqués<br>
                <input type="checkbox" name="attributes" value="Bushy_Eyebrows">Sourcils broussailleux<br>
                <input type="checkbox" name="attributes" value="Bags_Under_Eyes">Poches sous les yeux<br>
                <input type="checkbox" name="attributes" value="Big_Nose">Grand nez<br>
                <input type="checkbox" name="attributes" value="Pointy_Nose">Nez pointu<br>
                <input type="checkbox" name="attributes" value="High_Cheekbones">Pommettes hautes<br>
                <input type="checkbox" name="attributes" value="Big_Lips">Grandes lèvres<br>
                <input type="checkbox" name="attributes" value="Sideburns">Favoris<br>
                <input type="checkbox" name="attributes" value="No_Beard">Sans barbe<br>
                <input type="checkbox" name="attributes" value="Mustache">Moustache<br>
                <input type="checkbox" name="attributes" value="Goatee">Bouc<br>
                <input type="checkbox" name="attributes" value="Double_Chin">Double menton<br>
            </div>
        </div>
        <button type="submit">Soumettre</button>
    </form>
</body>
</html>
