
.grid-container {
    background-color: #c6c6c6; /* Fond de matrice gris */
    padding: 5px; /* Réduit l'espacement autour des images */
    border-radius: 5px; /* Coins arrondis */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajuste automatiquement le nombre de colonnes en fonction de la taille de l'écran */
    gap: 5px; /* Réduit l'espacement entre les éléments de la grille */
    margin: auto; /* Centre la grille horizontalement */
    width: 40vw; /* Réduit la largeur de la grille pour qu'elle soit de 90% de la largeur de la vue */
    height: 85vh; /* Réduit la hauteur de la grille pour qu'elle soit de 90% de la hauteur de la vue */
    box-sizing: border-box; /* Inclut padding dans le calcul de la hauteur et largeur */
}

span {
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to right, blue, white, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.grid-item {
    position: relative; /* Permet d'utiliser position absolue pour les éléments enfants */
}

.grid-item img {
    max-width: 100%; /* Limite la largeur de l'image à 100% de la taille du conteneur */
    max-height: 100%; /* Limite la hauteur de l'image à 100% de la taille du conteneur */
    position: absolute; /* Permet de positionner l'image par rapport à son conteneur */
    margin: auto; /* Centre l'image horizontalement et verticalement dans son conteneur */
    object-fit: contain; /* Ajuste la taille de l'image pour s'adapter au conteneur sans déformer l'image */
    cursor: pointer; /* Curseur en forme de main pour indiquer que l'image est cliquable */
    margin-bottom: 5px; /* Marge en bas de l'image */
    width: 100%; /* Fait en sorte que les images remplissent leurs conteneurs */
    height: auto; /* Ajuste automatiquement la hauteur pour maintenir les proportions */
}

body {
    background-color: black; /* Fond noir */
    color: #c6c6c6; /* Texte gris clair */
    font-family: Arial, sans-serif; /* Police de caractères */
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff; /* Texte gris clair */
    text-align: center; /* Centrer le texte */
}

div > img {
    height: 50px; /* Hauteur du logo */
    float: left; /* Alignement à gauche */
    margin-right: 10px; /* Marge à droite */
}

div > span {
    font-size: 24px; /* Taille de police */
    font-weight: bold; /* Gras */
}

.selected {
    border: 2px solid #007bff; /* Bordure bleue pour indiquer que l'image est sélectionnée */
}

.bouton_selection {
    display: block; /* Afficher en tant que bloc pour le centrer */
    margin: 20px auto; /* Marge pour le centrer horizontalement */
    padding: 15px 30px; /* Ajouter un espacement interne */
    font-size: 1.2em; /* Taille de police plus grande */
    background-color: #f2f2f2; /* Fond gris */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main */
}

.bouton_container {
    text-align: center; /* Centrer le contenu horizontalement */
}

.bouton_selection, .bouton_identification {
    display: inline-block; /* Afficher les boutons en ligne */
    margin: 0 40px; /* Ajouter une marge entre les boutons */
    padding: 0 30px; /* Ajouter un espacement interne */
    font-size: 1.2em; /* Taille de police plus grande */
    background-color: #f2f2f2; /* Fond gris */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main */
}


button:hover {
    background-color: #656565 ;
    color: white;
}
/*top: 0; /* Positionne l'image en haut du conteneur */
/*left: 0; /* Positionne l'image à gauche du conteneur */
/*bottom: 0; /* Positionne l'image en bas du conteneur */
/*right: 0; /* Positionne l'image à droite du conteneur */
